<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/common.css"/>
</head>

<body ng-app="dashboard">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 span4" ng-controller="balancesController">
            <div id="balance-list">
                <label class="h4">Account Balances</label><br>
                <table class="table table-striped table-bordered table-hover">
                    <tr class="h5">
                        <td><b>Account</b></td>
                        <td><b>Balance</b></td>
                    </tr>
                    <tr ng-repeat="a in accounts">
                        <td><a ng-href="#" ng-click='getAccountDetails(a)'>{{ a.id + ' ' + a.nickname }}</a></td>
                        <td><a ng-href="#" ng-click='getAccountDetails(a)'>{{ a.balance }}</a></td>
                    </tr>
                </table>
            </div>
            <div id="account-history" class="hidden">
                <label class="h4">Account History for {{ selectedAccount.id + ' ' + selectedAccount.nickname
                    }}</label><br>
                <button type="button" id="accountHistoryBackButton" ng-click="showBalances($event)"
                        data-loading-text="Loading..."
                        class="btn btn-primary btn-lg" autocomplete="off">
                    Back
                </button>
                <br><br>
                <table class="table table-striped table-bordered table-hover">
                    <tr class="h5">
                        <td><b>Datetime</b></td>
                        <td><b>Description</b></td>
                        <td><b>Amount</b></td>
                    </tr>
                    <tr ng-repeat="item in selectedAccount.transactionHistory">
                        <td>{{ item.datetime }}</a></td>
                        <td>{{ item.description }}</a></td>
                        <td>{{ item.amount }}</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-4 span4" ng-controller="quickTransferController">
            <label class="h4">Quick Transfer</label>

            <div id="transfer-form-div">
                <form name="transferForm" class="css-form">
                    <label>From Account:</label>
                    <select class="form-control" ng-model="transfer.fromAccount"
                            ng-options="a.id + ' ' + a.nickname for a in accounts">
                    </select>
                    <label>To Account:</label>
                    <select class="form-control" ng-model="transfer.toAccount"
                            ng-options="a.id + ' ' + a.nickname for a in accounts">
                    </select>
                    <label>Amount:</label>
                    <input class="form-control" ng-model="transfer.amount"/><br>
                    <button type="submit" id="qTransferButton" ng-click="confirmTransfer(transfer)"
                            class="btn btn-primary btn-lg">
                        Transfer
                    </button>
                </form>
            </div>

            <div id="confirm-dialog" class="hidden">
                <p class="h5">
                    Transfer
                    <strong>${{ transfer.amount }}</strong> from
                    <strong>{{ transfer.fromAccount.id }}</strong> to
                    <strong>{{ transfer.toAccount.id }}</strong>?
                </p>
                <button type="button" id="qTransferSubmit" ng-click="submitTransfer($event, transfer, transferForm)"
                        data-loading-text="Transferring..." data-complete-text="Complete!"
                        class="btn btn-primary btn-lg">
                    Yes!
                </button>
            </div>
            <br><br>

            <div id="alert-placeholder"></div>
        </div>
        <div class="col-sm-4 span4" ng-controller="billPayController">
            <label class="h4">Pay Bills</label><br>
        </div>
    </div>
</div>

<!-- External JS -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.js"></script>

<!-- HUD JS -->
<script type="text/javascript" src="js/app.js"></script>

<!-- Widget JS -->
<script type="text/javascript" src="js/balances.js"></script>
<script type="text/javascript" src="js/quickTransfer.js"></script>
<script type="text/javascript" src="js/billPay.js"></script>
</body>
</html>
