<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row" style="background-color:lavender;">
      <div class="col-lg-3" ng-app="myApp" ng-controller="dataController">
        <table class="table table-striped table-bordered">
          <tr ng-repeat="x in names">
            <td>{{ x.Name }}</td>
            <td>{{ x.Country }}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-3" ng-app="myApp" ng-controller="dataController2">
        <table class="table table-striped table-bordered">
          <tr ng-repeat="x in names">
            <td>{{ x.Name }}</td>
            <td>{{ x.Country }}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-3">
        <table class="table table-striped table-bordered">
          <tr ng-repeat="x in names">
            <td>{{ x.Name }}</td>
            <td>{{ x.Country }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="app/app.js"></script>
</body>
</html>
